Flask==2.3.2                  # Flask for the web framework
crepe==0.0.11                 # CREPE model for pitch estimation
numpy==1.23.5                 # Numpy for numerical operations
pydub==0.25.1                 # Pydub for audio file processing
soundfile==0.12.1             # Soundfile for reading and writing sound files
librosa==0.10.0.post2         # Librosa for advanced audio processing
scipy==1.10.1                 # SciPy for signal processing (optional)
gunicorn==20.1.0              # Gunicorn for production deployment (optional)
